root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.go]
indent_style = tab

[go.mod]
indent_style = tab

[Makefile]
indent_style = tab

[*.sh]
indent_style = tab

[{*.sql,*.py,*Dockerfile}]
indent_size = 4

[*.md]
trim_trailing_whitespace = false

[*.svg]
insert_final_newline = unset

[**/testdata/**]
indent_style = unset
indent_size = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
